# .env.prod - Production environment variables
# UPPERCASE for Docker Compose + Pydantic compatibility

DATABASE_USERNAME=lab_user
DATABASE_PASSWORD=lab_pass
DATABASE_HOSTNAME=db
DATABASE_PORT=5432
DATABASE_NAME=lab_db

SECRET_KEY=b11b30b04f20d2e4cb887a904fbcc0ddfd25b2f5cee55edd3420379e1cc6e30f
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Optional: pgAdmin
PGADMIN_EMAIL=admin@lab.com
PGADMIN_PASSWORD=admin123